@tailwind base;
@tailwind components;
@tailwind utilities; 

:root {
  font-family:"FacebookSans" ;
  line-height: 1.5;
  font-weight: 400;
  color-scheme:light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f1f0f3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: ;
}

@font-face {
  font-family: "FacebookSans";
  src: url("/fonts/FacebookSansHairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Facebook Sans - Light (300) */
@font-face {
  font-family: "FacebookSans";
  src: url("/fonts/FacebookSansLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Facebook Sans - Light Italic (300 italic) */
@font-face {
  font-family: "FacebookSans";
  src: url("/fonts/FacebookSansLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Facebook Sans - Regular (400) */
@font-face {
  font-family: "FacebookSans";
  src: url("/fonts/FacebookSansRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Facebook Narrow App Regular (400, alt style) */
@font-face {
  font-family: "FacebookNarrow";
  src: url("/fonts/FacebookNarrowAppRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Facebook Sans - Italic (400 italic) */
@font-face {
  font-family: "FacebookSans";
  src: url("/fonts/FacebookSansItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Facebook Sans - Bold (700) */
@font-face {
  font-family: "FacebookSans";
  src: url("/fonts/FacebookSansBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Facebook Sans - Bold Italic (700 italic) */
@font-face {
  font-family: "FacebookSans";
  src: url("/fonts/FacebookSansBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Facebook Sans - Heavy (900) */
@font-face {
  font-family: "FacebookSans";
  src: url("/fonts/FacebookSansHeavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Facebook Sans - Heavy Italic (900 italic) */
@font-face {
  font-family: "FacebookSans";
  src: url("/fonts/FacebookSansHeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
